* {
  margin: 0px;
  padding: 0px; }

.countdown_bg {
  background-image: url("../img/main.jpg");
  background-position: center;
  background-size: cover;
  height: 100%; }

.countdown_bgcolor {
  padding-top: 1px;
  padding-bottom: 1px; }
  .countdown_bgcolor .logo {
    text-align: center; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }

@media (min-width: 576px) {
  .container {
    width: 540px; } }
@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.landing_txt {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px; }

.landing_txt h2 {
  color: darkred;
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom: 20px; }

.landing_txt h1 {
  color: #ffffff;
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 15px; }

.landing_txt p {
  color: #fbf4f4;
  font-family: sans-serif; }

.landing_timer {
  margin-bottom: 20px; }

.landing_time_counter {
  width: 210px;
  margin: 0 auto;
  margin-top: 50px; }

.landing_time_counter:after {
  content: "";
  display: block;
  clear: both; }

.time_wrapper {
  float: left;
  margin-right: 50px;
  margin-bottom: 30px; }

.time_wrapper:nth-child(2) {
  margin-right: 0px; }

.time_wrapper:last-child {
  margin-right: 0px; }

.time_wrapper p {
  color: #fff;
  margin-bottom: 30px;
  text-align: center; }

.counter_item {
  width: 80px;
  height: 80px;
  border: 1px solid #fff;
  box-sizing: border-box;
  font-size: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; }

@media (min-width: 420px) {
  .landing_pbar {
    width: 370px; } }
@media (min-width: 576px) {
  .landing_pbar {
    width: 470px; }

  .landing_time_counter {
    width: 470px; }

  .time_wrapper:nth-child(2) {
    margin-right: 50px; } }
@media (min-width: 768px) {
  .landing_pbar {
    width: 700px; } }
.landing_email {
  width: 232px;
  margin: 0px auto; }
  .landing_email .input_box {
    margin-bottom: 20px; }
    .landing_email .input_box input[type=email] {
      width: 230px;
      font-size: 19px;
      height: 38px;
      border: 0;
      padding-left: 10px;
      margin-bottom: 20px; }
    .landing_email .input_box input[type=button] {
      box-sizing: border-box;
      border: 1px solid #fff;
      width: 147px;
      border: 0;
      font-size: 19px;
      color: #fff;
      height: 39px;
      background: #00FDFF;
      margin-left: 0px;
      cursor: pointer; }
  .landing_email p {
    text-align: center;
    color: #fff; }

.landing_social {
  margin-top: 30px;
  margin-bottom: 80px; }

@media (min-width: 576px) {
  .landing_email {
    width: 513px; }
    .landing_email .input_box input[type=email] {
      width: 358px;
      margin-bottom: 0px; }
    .landing_email .input_box input[type=button] {
      width: 147px;
      margin-left: -7px; } }
@media (min-width: 768px) {
  .landing_email {
    width: 700px; }
    .landing_email .input_box input[type=email] {
      width: 490px; }
    .landing_email .input_box input[type=button] {
      width: 198px; } }
.social_container {
  margin: 0px auto;
  text-align: center; }

.fa {
  margin-right: 20px;
  font-size: 25px;
  padding: 5px 10px;
  width: 50px; }

.fa:last-child {
  margin-right: 0px; }

.fa:hover {
  color: aqua; }

.fa-facebook {
  background: #4267B2;
  color: #fff; }

.fa-twitter {
  color: #fff;
  background: #00FFFF; }

.fa-google-plus {
  background: red;
  color: #fff; }

#product-display {
  padding: 50px 0px;
  min-height: 250px;
  background: #131a1f; }
  #product-display .title {
    margin-bottom: 50px; }
    #product-display .title h2 {
      text-align: center;
      margin-bottom: 25px;
      text-transform: uppercase;
      color: #00FDFF; }
    #product-display .title p {
      text-align: center;
      color: #fff; }
  #product-display .item .img {
    margin-bottom: 10px; }
  #product-display .item .txt h3 {
    text-align: center;
    font-size: 16px;
    color: #111; }
  #product-display .item .txt p {
    text-align: center; }

#signup {
  padding: 50px 0px; }
  #signup .title {
    margin-bottom: 50px; }
    #signup .title h2 {
      text-align: center;
      text-transform: uppercase;
      color: #00FDFF; }
  #signup .input_box {
    margin-top: 25px; }
    #signup .input_box input[type=email] {
      font-size: 19px;
      height: 38px;
      padding-left: 10px;
      margin-bottom: 20px; }
    #signup .input_box input[type=text] {
      font-size: 19px;
      height: 38px;
      padding-left: 10px;
      margin-bottom: 20px; }
    #signup .input_box input[type=button] {
      box-sizing: border-box;
      border: 1px solid #fff;
      width: 147px;
      border: 0;
      font-size: 19px;
      color: #fff;
      height: 39px;
      background: #00FDFF;
      margin-left: 0px;
      cursor: pointer; }

@media (min-width: 768px) {
  #signup .input_box {
    margin-top: 0px; } }
#single-product {
  background-image: url("../img/3-1.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }
  #single-product .left {
    height: auto;
    margin-bottom: 25px; }
    #single-product .left .img-content {
      margin-top: 25px;
      z-index: 555;
      position: relative; }
  #single-product .right {
    min-height: 400px; }
    #single-product .right .txt-content {
      z-index: 555;
      margin-bottom: 15px; }
      #single-product .right .txt-content h2 {
        color: #fff; }
      #single-product .right .txt-content p {
        color: #fff; }
      #single-product .right .txt-content a {
        background: #00FDFF; }
  #single-product:after {
    display: block;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px; }

@media (min-width: 768px) {
  #single-product .left {
    margin-bottom: 0px; }
    #single-product .left .img-content {
      margin-top: 0px; }
  #single-product .right {
    min-height: 500px; }
    #single-product .right .txt-content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-bottom: 0px; } }
/* ==============================================
 4. Contact Us section
 ============================================== */
#contact-section {
  padding: 50px 0px; }

.contact-title {
  margin-bottom: 0px !important; }

.contact-title h2 {
  text-align: center;
  color: #00FDFF; }

.contact-details {
  margin-top: 50px; }
  .contact-details .color {
    background: #00FDFF;
    border-color: #00FDFF; }
    .contact-details .color :hover {
      color: #fff; }

/*# sourceMappingURL=style.css.map */
